/*menu*/

#header{
  width: 100%;
  min-width: 1367px;
  /*width: 1366px;*/
  height: 72px;
  margin: 0 auto;
  /*border: 1px solid #000;*/
  text-align: center;
  background-color: #135589;
  opacity: 0.7;
}
#header ul{
  /*list-style-type: none;*/
  /*margin: 0;*/
  padding: 0;
}
#nav-wrapper{
  width: 1140px;
  margin: 0 auto;
}
#nav {
  text-align:center;
  width: 1089px;
  height:72px;
  position: relative;
  left: 0;
}
#nav ul {
  width:1089px;
  margin: 0 auto;
  list-style-type: none;
}
#nav ul li{
  float: left;
  width: 121px;
  margin: 0;
  /*border-right: 1px solid #e6e4e4;*/
  box-sizing: border-box;
  text-indent:-9999px;
}
#nav ul li:last-child {
  border-right: none;
}
#nav ul li a{
  display: block;
  width: 100%;
  height:72px;
  line-height:72px;
}
#nv0 a{
  background: url(T--Kyoto--Norofig-03.png);
  background-repeat: no-repeat;
  background-position: center;
}
#nv1 a{background: url(T--Kyoto--menutext-05.png);}
#nv2 a{background: url(T--Kyoto--menutext-06.png);}
#nv3 a{background: url(T--Kyoto--menutext-07.png);}
#nv4 a{background: url(T--Kyoto--menutext-08.png);}
#nv5 a{background: url(T--Kyoto--menutext-09.png);}
#nv6 a{background: url(T--Kyoto--menutext-10.png);}
#nv7 a{background: url(T--Kyoto--menutext-11.png);}
#nv8 a{background: url(T--Kyoto--menutext-12.png);}

#nv1 a:hover{background-position: 0 -72px;}
#nv2 a:hover{background-position: 0 -72px;}
#nv3 a:hover{background-position: 0 -72px;}
#nv4 a:hover{background-position: 0 -72px;}
#nv5 a:hover{background-position: 0 -72px;}
#nv6 a:hover{background-position: 0 -72px;}
#nv7 a:hover{background-position: 0 -72px;}
#nv8 a:hover{background-position: 0 -72px;}

#contents{
  width: 1024px;
  margin: 0 auto;
  border-color: #000000;
  color: #969696;
  /*background-color: #c0ffee;*/
}

/*#header li{
  text-indent: -9999px;
  float:left;
  width: 100px;
  margin: 0;
  padding: 0;
}*/
#footer{
  width: 100%;
  min-width: 1367px;
  height: 369px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #333333;
}
